// Default Settings
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-red url('/bg-intro-mobile.png');
    color: $color-white;
    @include respond-to(tabletAndDesktop) {
        background: $color-red url('/bg-intro-desktop.png');
    }

}