.form {
    &-card {
        margin-top: 2rem;
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 .7rem 0 rgba($color-black, 0.2);
        @include respond-to(tabletAndDesktop) {
            padding: 3rem;
        }
    }
    &__group {
        position: relative;
        margin-bottom: 1.5rem;
    }
    &__input {
        font-family: inherit;
        border: 1px solid rgba(202, 200, 200, 0.692);
        padding: 1rem 1.5rem;
        display: block;
        width: 100%;
        border-radius: .5rem;
        outline: 0;
        transition: all .2s;
        &::placeholder {
            font-weight: 600;
        }
        &:focus {
            border-radius: .5rem;
            border: 2px solid $color-grayish-blue;
        }
        &__error-border {
            border: 2px solid $color-red!important;
        }
        &__error-email {
            &::placeholder {
                color: $color-red;
            }
        }
        &__error-container {
            overflow: hidden;
            &--error-message {
                float: right;
                color: $color-red;
                margin-top: .5rem;
                display: inline-block;
            }
        }
        &--error-icon {
            position: absolute;
            top: 15%;
            left: 87%;
            transform: scale(.9);
        }
    }
    &__t\&s {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        color: $color-grayish-blue;
        font-size: 1.1rem;
        @include respond-to(tabletAndDesktop) {
            width: 100%;
            font-size: 1rem;
        }
        a {
            color: $color-red;
            font-weight: 700;
        }
    }
}
